body {
    background: #121212;
    color: white;
    font-family: Arial;
    margin: 0;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    background: #000;
    height: 100vh;
    position: fixed;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: #fff;
    margin: 15px 0;
    text-decoration: none;
}

.content {
    margin-left: 240px;
    padding: 20px;
}

.playlist {
    display: flex;
    gap: 20px;
}

.music-card {
    background: #181818;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.music-card img {
    width: 100%;
    border-radius: 10px;
}

/* PLAYER */
#player-container {
    position: fixed;
    bottom: 0;
    left: 200px;
    right: 0;
    background: #000;
    padding: 10px;
}
