body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: Arial;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    background: #000;
    padding: 25px;
}

.sidebar .logo {
    margin-bottom: 40px;
}

.sidebar a {
    display: block;
    color: #b3b3b3;
    margin: 10px 0;
    text-decoration: none;
    font-size: 18px;
}

.sidebar a:hover {
    color: #fff;
}

/* CONTENT */
.content {
    margin-left: 250px;
    padding: 30px;
}

/* PLAYER */
.player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.player-left {
    display: flex;
    align-items: center;
}

.player-left img {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin-right: 10px;
}

/* AUTH */
.auth-box {
    width: 350px;
    margin: 120px auto;
    background: #1d1d1d;
    padding: 30px;
    border-radius: 10px;
}

.auth-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
}

.auth-box button {
    width: 100%;
    padding: 12px;
    background: #1db954;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}
.playlist {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.music-card {
    width: 160px;
    background: #181818;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.music-card:hover {
    background: #282828;
}

.music-card img {
    width: 100%;
    height: 160px;
    border-radius: 6px;
    object-fit: cover;
}

.music-card p {
    margin-top: 10px;
    font-size: 15px;
}
